<div class="container pt-5">
  <div class="col-md-6 offset-3">
    <%= form_for @changeset, @action, [as: :user, class: "form-auth"], fn f -> %>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <%= if @changeset.action do %>
          <div class="alert alert-danger">
            <p>Oops, something went wrong! Please check the errors below.</p>
          </div>
        <% end %>
      </div>

      <div class="form-label-group">
        <%= text_input f, :name, placeholder: "Name", class: "form-control", required: true, autofocus: true %>
        <%= label f, :name %>
        <%= error_tag f, :name %>
      </div>

      <div class="form-label-group">
        <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), placeholder: "E-mail Address", class: "form-control", required: true%>
        <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
        <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
      </div>

      <div class="form-label-group">
        <%= password_input f, :password, class: "form-control", placeholder: "Password", required: true %>
        <%= label f, :password %>
        <%= error_tag f, :password %>
      </div>

      <div class="form-label-group">
        <%= password_input f, :password_confirmation, class: "form-control", placeholder: "Confirm Password", required: true %>
        <%= label f, :password_confirmation %>
        <%= error_tag f, :password_confirmation %>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </br> or
      <span><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></span>
    <% end %>
  </div>
</div>
